@charset "utf-8";
/*html파일에 명시되어있지만 css에도 써줘야한다. 안써도 잘되는 브라우저들이 있지만 기본적으로 써야한다. */
/*최상단에 써야한다.*/

/*스타일 모듈 파일 로드*/
/*html 에서 불러오는 것이 낫다(병렬식). (나중에 모두 병합 한 후 한두개의 파일로 불러오자. 추후 배움) */
/*css에서 불러오면 병렬식(동기에 다운받음)이 아닌 직렬식(하나 다 받으면 다음파일 받음)으로 불러와서 느리다.*/
@import url("grid.css"); /* 방법 1 */
@import "common.css"; /* 방법 2 */

/*웹브라우저의 기본 스타일 초기화 */
body{
	margin: 0;
}

/*문서에서 대상을 선택한다.*/
/*선택자가 필요*/
article{
	/*선택된 대상을 스타일링*/
	/*속성: 값;*/
	border: 1px solid #454545;
	/*border 색상을 적지 않으면 글자의 색*/
}
article h2{} 
/*한칸띄고 : 자손*/
article img{}
article p{
	line-height: 30px;
}
