@charset "UTF-8";
.color01 .icon:after, .color02 .icon:after, .color03 .icon:after, .color04 .icon:after, .color05 .icon:after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* 커스텀 라디오 박스 */
body {
  padding: 20px;
}

h1 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 25px;
}

.color-selector {
  overflow: hidden;
  margin-bottom: 50px;
  text-align: center;
}

.color-selector li {
  float: left;
  width: 20%;
  padding: 0 3.33%;
  box-sizing: border-box;
}

.color01 {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.color01 .icon {
  display: inline-block;
}

.color01 input[type="radio"] {
  display: none;
}

.color01 .icon {
  width: 50px;
  padding-bottom: 50px;
  background: #8c643c;
  border-radius: 50%;
}

.color01 .icon:after {
  content: '✔';
  opacity: 0;
  transition: all 0.2s;
  color: #fff;
}

.color01 input:checked + .icon:after {
  opacity: 1;
}

.color02 {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.color02 .icon {
  display: inline-block;
}

.color02 input[type="radio"] {
  display: none;
}

.color02 .icon {
  width: 50px;
  padding-bottom: 50px;
  background: #ba3337;
  border-radius: 50%;
}

.color02 .icon:after {
  content: '✔';
  opacity: 0;
  transition: all 0.2s;
  color: #fff;
}

.color02 input:checked + .icon:after {
  opacity: 1;
}

.color03 {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.color03 .icon {
  display: inline-block;
}

.color03 input[type="radio"] {
  display: none;
}

.color03 .icon {
  width: 50px;
  padding-bottom: 50px;
  background: #4e6a89;
  border-radius: 50%;
}

.color03 .icon:after {
  content: '✔';
  opacity: 0;
  transition: all 0.2s;
  color: #fff;
}

.color03 input:checked + .icon:after {
  opacity: 1;
}

.color04 {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.color04 .icon {
  display: inline-block;
}

.color04 input[type="radio"] {
  display: none;
}

.color04 .icon {
  width: 50px;
  padding-bottom: 50px;
  background: #242732;
  border-radius: 50%;
}

.color04 .icon:after {
  content: '✔';
  opacity: 0;
  transition: all 0.2s;
  color: #fff;
}

.color04 input:checked + .icon:after {
  opacity: 1;
}

.color05 {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.color05 .icon {
  display: inline-block;
}

.color05 input[type="radio"] {
  display: none;
}

.color05 .icon {
  width: 50px;
  padding-bottom: 50px;
  background: #c7cbd0;
}

.color05 .icon:after {
  content: '✔';
  opacity: 0;
  transition: all 0.2s;
  color: #fff;
}

.color05 input:checked + .icon:after {
  opacity: 1;
}

.size {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.size .icon {
  display: inline-block;
}

.size input[type="radio"] {
  display: none;
}

.size .icon {
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  transition: all 0.2s;
}

.size input:checked + .icon {
  background: #ddba76;
  color: #fff;
}

.size-selector {
  width: 50px;
  overflow: hidden;
  margin-bottom: 50px;
}

.size-selector li {
  margin-bottom: 20px;
}

.text {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.text .icon {
  display: inline-block;
}

.text input[type="radio"] {
  display: none;
}

.text input:checked + .icon {
  color: red;
}

/*# sourceMappingURL=../map/test.css.map */