@charset "utf-8";

/* Hong HS's blog-ver01
* 크로스브라우징 : IE9이상. 단 animation 등은 IE10부터  
*/
/*linear-gradient가 ie9에서는 적용 안되서 따로 배경 줌*/
.ie9 .page-header {
	background: url("../img/header-bg.png");
}

/*
* fluid grid system | 12 units | no-gutter
*/
.show-grid .page-header .center-con::before {
	content: '';
	position: absolute;
	z-index: 100;
	top: 0;
	width: 100%;
	height: 3000px;
	background: 
		linear-gradient(90deg, rgba(191, 64, 64, 0.1) 50%, rgba(0,0,0,0.1) 50%),
		linear-gradient(transparent 95%, #26923f 95%);
	background-size: 
		16.6666666% 16.6666666%,
		1px 1.3125rem;
}

/*
* page-header
*/
.center-con {
	position: relative;
	max-width: 1200px;
	min-width: 750px;
	min-height: 100%;
	margin-left: auto;
	margin-right: auto;
}

.page-header {
	position: fixed;
	z-index: 100;
	width: 100%;
	height: 168px;
	background: linear-gradient(180deg, rgba(0,0,0,1) 80%, rgba(0,0,0,0.7) 100%);
	color: #fff;
	box-shadow: 0 3px 5px rgba(0,0,0,0.1);
}

.page-header::before {
	content: '';
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0.3;
	background: url("../img/snoopy05.png") no-repeat;
	background-position: 13% 0%;
	animation: snoopy .8s 2 cubic-bezier(0.68, -0.55, 0.27, 1.55) .5s;
}

@keyframes snoopy {
	0% { background-position: 13% 0%; }
	25% { background-position: 8% 50%; }
	50% { background-position: 0% 0%; }
	75% { background-position: 7% 50%; }
	100% { background-position: 13% 0%; }
}

.logo {
	padding-left: 46px;
	margin-top: 42px;
}

.logo a::after {
	content: '';
	display: block;
	position: absolute;
	width: 50px;
	height: 50px;
	top: -50px;
	left: 227px;
	background: url("../img/Woodstock.png") no-repeat;
	background-size: 50px 50px;
	transition: all .5s cubic-bezier(0.19, 0.63, 0.4, 0.88);
}

.logo a:hover::after,
.logo a:focus::after {
	top: 23px;
	left: 113px;
}

.logo .small {
	opacity: 0.6;
	font-size: 1rem;
}

.gnb { 
	text-align: center;
	padding-top: 32px; 
}

.gnb h2 {
	text-transform: uppercase;
}

.gnb a { 
	display: inline-block; 
	padding: 0.625rem;
	opacity: 0.5;
}		

.gnb a > * {
	display: block;
	text-align: center;
	text-shadow: 1px 1px 0px rgba(0,0,0,0.5);
}

.gnb a:hover,
.gnb a:focus {
	opacity: 0.8;
	transition: all .4s;
}

.gnb .fa {
	vertical-align: top;
	line-height: 1.5;
}

/*
* main
*/
.page-main {
	padding-top: 168px;
}

.page-main > * {
	/*padding-top: 168px;*/
	height: 100vh;
}

.page-main .heading {
	padding-top: 2.625rem;
	margin-bottom: 2.625rem;
}

.page-light {
	background: #fff;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
	box-shadow: 
		inset 0 15px 15px -15px rgba(0,0,0,0.05),
		inset 0 -15px 15px -15px rgba(0,0,0,0.05);
}

.page-about {
	position: relative;
}

.page-about::before {
	position: absolute;
	content: '';
	display: block;
	width: 100%;
	height: 100%;
	opacity: 0.2;
	background: url("../img/hongs.jpg") no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

.page-about .contact span {
	display: block;
	margin-bottom: 7px;
}

.page-about .contact .fa {
	font-size: 3.5rem;
	margin-right: 10px;
}

.contact .github .fa {
	font-size: 4rem;
}

.contact a:hover,
.contact a:focus {
	color: #cb3333;
}

.til h3 {
	padding-bottom: 5px;
	border-bottom: 1px solid #eee;
}

.til .time {
	margin-bottom: 1.3125rem;
}