/*
* Typography
*/

body {
	height: 1000px;
	font-family: "Spoqa Han Sans", sans-serif;
	font-size: 0.875rem;
	line-height: 1.5;
	color: #333;
	// background: #F9F9F9;
}

[lang="ko-KR"] {
	font-family: "Spoqa Han Sans", sans-serif;
}

h1 { 
	font-family: 'Indie Flower',cursive, sans-serif; 
	letter-spacing: 0.05rem;
}

p,
h2.normal span {
	font-size: 0.875rem;
	line-height: 1.5;
	font-weight: 400;
}

h1,h2,h3,h4,h5,h6,p {
	font-weight: 400;
	margin-bottom: 1.3125rem;  /*14*1.5px*/
}

h1 {
	font-size: 3.41438rem ; /*14*1.313*1.313*1.313*1.313*/
	line-height: 3.9375rem; /*21*3*/
}

h2 {
	font-size: 2.60062rem ; /*14*1.313*1.313*1.313*1.313*/
	line-height: 3.9375rem; /*21*3*/
}

h3, .heading h1 {
	font-size: 1.98063rem; /*14*1.313*1.313*1.313*/
	line-height: 2.625rem; /*21*2*/
}

h4, h2.normal {
	font-size: 1.50875rem;  /*14*1.313*1.313*/  
	line-height: 2.625rem; /*21*2*/
}

h5 {
	font-size: 1.14875rem; /*14*1.313px*/
	line-height: 2.625rem; /*21*2*/
}

h6 {
	font-weight: 700;
}

h2.normal {
	margin-bottom: 0;
}

