$base-font: 'Merriweather', serif;
$sans-font: 'Merriweather Sans', sans-serif;

$base-font-size: 0.6875rem;
$heading-font-size: 0.875rem;
$base-line-height: 1.2;

p {
	font-size: $base-font-size;
	line-height: 1.2;
}

%base-head-font {
	font-family: $base-font;
	font-size: $heading-font-size;
	font-weight: 400;
}

%sans-font {
	font-family: $sans-font;
	font-weight: 400;
}