@charset "utf-8";

.masonry-container {
	max-width: 1200px;
	margin-top: 2rem;
	margin-left: auto;
	margin-right: auto;
	-webkit-column-count: 3;
	-moz-column-count: 3;
	column-count: 3;
	/*컬럼 사이 간격(gap)*/
	/*-webkit-column-gap: 1.5rem;
	-moz-column-gap: 1.5rem;
	column-gap: 1.5rem;*/
	/*컬럼사이 간격의 중앙에 배치되는 수직 선 */
	/*-webkit-column-rule: 1px dashed #999;
	-moz-column-rule: 1px dashed #999;
	column-rule: 1px dashed #999;	*/
	padding: 0;
}

.masonry-container img {
	display: inline-block;
	width: 100%;
	/* padding: 0; */
	vertical-align: middle;
	margin-bottom: 1rem;
}

.masonry-container h3 {
	-webkit-column-span: all;
	-moz-column-span: all;
	column-span: all;
	/*column 합치기*/
}