// 각 Design Module에서 높이가 다른 product image를 넣어도 
// height가 비율로 자동 적용되도록 하기 위한 mixin

@mixin ratio-height-img($width: 750, $height: null) {
	position: relative;
	padding-bottom: percentage($height / $width);
	overflow: hidden;
		img {
			position: absolute;
			top: 0;
			width: 100%;
		}
}

// $height: null이 아닌 $height만 쓰면 오류난다. 
// 추후 왜 그런지 공부 