@charset "utf-8";

body {
	height: 1000px;
	font-size: 0.875rem;
	background: #F9F9F9;
}

.blind {
	position: absolute;
	text-indent: -9999em;
	overflow: hidden;
}

.center-con {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

.page-header {
	position: fixed;
	width: 100%;
	height: 180px;
	background: #fff;
	box-shadow: 0 1px 5px rgba(0,0,0,0.05);
}

.gnb {
	width: 80%;
	padding-top: 35px;
	margin-left: auto;
	margin-right: auto;
}

.gnb li:first-child a {
	background: url('../img/whatWeDo.png') no-repeat 50% 0;
	height: 101px;
	transition: all 0.3s;
}
.gnb li:nth-child(2) a {
	background: url('../img/whatWeHaveDone.png') no-repeat 50% -100px;
	height: 99px;
	opacity: 0.3;
	transition: all 0.2s;
}
.gnb li:last-child a {
	background: url('../img/whatWeAreDoing.png') no-repeat 50% 0;
	height: 98px;
}

.gnb li:first-child a:hover {
	background-position: 50% -100px;
}
.gnb li:nth-child(2) a:hover {
	opacity: 1;
}



/*main*/
.page-main {
	text-align: center;
	padding-top: 220px;
}