/*
grid-system(Static)
*/

/*모듈 A. 화면 폭 지점 가운데 배치 */
body.overlay-grid::after,
.wrapper {
	width: 960px;
	margin-left: auto;
	margin-right: auto;
}

/*모듈 B. 배경이미지 추가*/
body.overlay-grid::after,
.wrapper.show-grid {
	background: url("grid-10-60-10.png");
}

.wrapper.show-grid.hover-hide-grid:hover {
	background: none;
}

body.overlay-grid::after {
	position: absolute;
	z-index: 1000;
	display: block;
	content: '';
	min-height: 100vh;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
}

.row::after {
	display: block;
	content: '';
	clear: both;
}

[class*=col-] {
	float: left;
	margin-left: 10px;
	margin-right: 10px;
}

.col-1 { width: 60px; }
.col-2 { width: 140px; } /*(60*2)+(20*(2-1)) */
.col-3 { width: 220px; } /*(60*3)+(20*(3-1)) */
.col-4 { width: 300px; } /*(60*4)+(20*(4-1)) */
.col-5 { width: 380px; } /*(60*5)+(20*(5-1)) */
.col-6 { width: 460px; } /*(60*6)+(20*(6-1)) */
.col-7 { width: 540px; } /*(60*7)+(20*(7-1)) */
.col-8 { width: 620px; } /*(60*8)+(20*(8-1)) */
.col-9 { width: 700px; } /*(60*9)+(20*(9-1)) */
.col-10 { width: 780px; } /*(60*10)+(20*(10-1)) */
.col-11 { width: 860px; } /*(60*11)+(20*(11-1)) */
.col-12 { width: 940px; } /*(60*12)+(20*(12-1)) */
