body {
	font: 0.875rem/1.2 "Varela Round";
	color: #222;
}

a {
	color: inherit;
	text-decoration: none;
}

button {
	display: block;
	background: none;
	border: none;
	cursor: pointer;
}

.wrap {
	width: 960px;
	height: 100vh;
	margin-left: auto;
	margin-right: auto;
	background: #eee;
}

.page-header {
	position: relative;
	height: 80px;
	background: #fff;
}

/*.page-header > * {
	line-height: 80px;
}*/

h1 {
	float: left;
	margin-left: 80px;
	line-height: 80px;
}
h1 img {
	vertical-align: middle;
}

.hamberger {
	position: absolute;
	top: 30px;
	left: 30px;
	/*padding: 4px;*/
	background: url("../img/icon-hamberger.png") center center no-repeat;
	text-indent: -9999rem;
}

.nav {
	margin-left: 240px;
	line-height: 80px;
}

.nav li {
	float: left;
	margin-right: 28px;
}

.nav .icon {
	display: inline-block;
	width: 6px;
	height: 6px;
	margin-left: 10px;
	background: url("../img/icon-arrow-down.png") center center no-repeat;
}