.wrap {
	width: 960px;
	/*height: calc(20vh * 3);*/
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 50px;
	background: #eee;
}

.boxs {
	float: left;
	height: 20vh;
	margin-right: 30px;
	margin-bottom: 30px;
}

.width-1x {
	width: calc(100%/3 - 30px);
	background: yellow;
}

.width-2x {
	width: calc(100%/3 * 2 - 30px);
	background: skyblue;
}

.width-3x {
	width: calc(100%/3 * 3 - 30px);
	background: green;
}

.height-2x {
	float: right;
	height: calc(20vh * 2 + 30px);
	background: skyblue;
}

.height-3x {
	float: right;
	height: calc(20vh * 3 + 30px * 2);
	background: green;
}

/*float: right가 아니라 width만큼 밀어줘야 할 것 같은데.. */

/*.push-2x {
	margin-left: calc( * 2);
}*/

